
 /* ************************** */
 .App {
  text-align: center;
  min-height: 100vh;
  width: 100%;
}

.App_mainsection {
  display: flex;
  flex-direction: column;
  width:100%;
  /* background: red; */
  
  /* position: relative; */
  /* animation-name: example;
  animation-duration: 20s;
  animation-iteration-count: infinite; */
}

/* @keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
} */
/* *************** Header ********************* */
.header_maindiv {
  background-color: #333;
  display:flex;
  min-height: 50px;
  justify-content: space-between;
  align-items: center;
  color: white;
  width:100%;
  position: fixed;
  
}

.header_maindiv Button {
  /* background-color: #ddd; */
  color: white;
}

.header_maindiv Button:hover {
  background-color: #ddd;
  color: black;
}

.user_avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-top: 10px;
  object-fit: contain;
}

.header_maindiv_login {
  display: flex;
  justify-content: flex-start;
}

/* *************** Topics Navbar ********************* */
.topics_maindiv {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  background-color: #61a5c2;
  margin-top: 60px;
}

.topics_maindiv_link {
  text-decoration: none;
  color: black;
}

/* **************** Articles header ************ */

.articles_header {
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  /* background-color: #afd5e6; */
}

.articles_header_sortdiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
}

.articles_header_sortdiv select{
  padding:5px;
  width: 150px;
  font-size: 20px;
}

/* *************** Article Card ********************* */

.scroll-bg{
  width: auto;
   margin: 5px auto;
}

.scroll-div{
  width: auto;
  height: 75vh;
  overflow: hidden;
  overflow-y: scroll;
}

.articles_maindiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 1em;
}

.art_cards {
  min-width: 350px;
  height: 250px;
  /* height: 12em; */
  border: 1px solid black;
  margin-bottom: 0.75em;
  margin-right: 1em;
  /* background-image: url("https://images.unsplash.com/photo-1559762412-627400abeec1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"); */
   /* position: relative;  */

  /* animation-name: example;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  background-color: honeydew; */
}

/* @keyframes example {
  0%   {background-color:rgba(255, 0, 0, 0.336); left:0px; top:0px;}
  25%  {background-color:rgba(255, 255, 0, 0.315); left:200px; top:0px;}
  50%  {background-color:rgba(0, 0, 255, 0.233); left:200px; top:200px;}
  75%  {background-color:rgba(0, 128, 0, 0.301); left:0px; top:200px;}
  100% {background-color:rgba(255, 0, 0, 0.253); left:0px; top:0px;}
} */
.art_cards_contents{
  height:140px;
  padding:0px;
}
.art_cards_contents_author {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin:0;
}
.art_card_footer {
  background-color: #01497c;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 50px;
  /* border-radius:  0% 0% 15px 15px; */
  margin-bottom: 0;
  padding: 0 15px 0 15px;
}

.articles_maindiv_moredetail{
  padding-top: 1em;
  color: white;
  text-decoration: none;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* ***************** Article Detail ******************** */
.article_detail_card {
  min-width: 300px;
  min-height: 300px;
  border: 1px solid black;
  /* border-radius: 15px; */
  margin-bottom: 1em;
  border-right: 0px;
}

.art_detailcard_contents {
  padding:0px;
}

.article_body {
  padding: 10px;
}

.atticleDetail_commentsBtn {
  color: white;
  background-color: #01497c;
}

.article_votesBtn_div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* ********************* Article Comments ********************* */
.comment_maindiv {
  border: 1px solid #c3e2f07c;
  margin-left: 0;
}
.comment_postcomment_div{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 5px 0 5px 5px;
  background-color: #e4ecf07c;
}
.comment_postinput {
  width:80%;
  margin-left: 0.15em;
  padding: 10px;
}
.commentslist {
  list-style-type: none;
  padding-left: 0;
  margin:0;
}

.comment_body{
  display: flex;
  justify-content: flex-start;
  padding: 0 0.5em;
}
.comment_img {
  /* display: inline-block; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
}
.comment_author {
  color: blue;
  font-size: medium;
  padding-right: 5px;
}
.comment_footer {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.comment_footer_buttons{
  display: flex;
  flex-direction: row;
}

/* *************  Dialog popup *************** */

.comment_updatepostinput{
  width: 100%;
  min-height: 100px;
  padding: 10px 5px 10px 5px;
 
} 

/* ****************  Responsive Topic navbar (for mobile devices)**************** */
 @media screen and (min-width: 600px) {
  .App_mainsection {
    flex-direction: row;
  }

  .topics_maindiv  {
    flex-direction: column;
    justify-content: flex-start;
    width:30vw;
    min-height: 100vh;
    
  }
  
  .topics_maindiv_link {
    border: 1px solid black;
    margin-top: 1em;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
    background-color: #01497c;
    color:white;
  }

  .articles_header {
    margin-top: 80px;
  }
  .article_detail_card {
    
    margin-top: 4em;
    
  }
 }